{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-4">
    <h1>{{group.name}}</h1>
    <h6>Member Count: {{group.members.count}}

    <span class="float-right">
        {% if user in group.members.all %}
            <a class="btn btn-warning" href="{% url 'groups:leave' slug=group.slug %}">Leave</a>
        {% else %}
            <a class="btn btn-info" href="{% url 'groups:join' slug=group.slug %}">Join</a>
        {% endif %}
    </span>
    </h6>
</div>
{% endblock %}

{% block group_content %}

<div class="col-8">
    {% if group.post.count == 0 %}
        <h2>No Posts in this group</h2>
    {% else %}

        {% for post in group.post.all %}
            {% include "posts/_posts.html" %}
        {% endfor %}

    {% endif %}
</div>


{% endblock %}