<div class="container">
    <h3>{{post.message_html|safe}}</h3>
        <span>
            <a href="{% url 'posts:for_user' username=post.user.username %}">
                <strong>@{{post.user.username}}</strong>
            </a>
            
            <time>
                <a class="text-muted" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{post.created_at}}</a>
            </time>
            
            {% if user.is_authenticated and post.user == user and not hide_delete %}
                <a title="delete" href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
            {% endif %}
        </span>  
</div>

<hr>