<div class="container">
    <div class="post media">
        <h3>{{post.message_html|safe}}</h3>
        <div class="media-post">
            <strong>{{post.user.username}}</strong>
            <h3>
            <span class="username">
                <a href="{% url 'posts:for_user' username=post.user.username %}">button</a>
            </span>
            <time class="time">
                <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">button</a>
            </time>
            </h3>

            <div class="media-footer">
                {% if user_is_authenticated and post.user == user %}
                <a href="{% url 'post:delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>